<section class="page-container">
  <div class="custome-container">
  <h2 class="text-center">Login</h2>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <input type="email" placeholder="Email" formControlName="email" class="form-control email-input" />
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" formControlName="password" class="form-control password-input" />
      <span class="password-toggle" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'Hide' : 'Show' }}
      </span>
    </div>
    <div class="form-group">
      <input type="checkbox" id="rememberMe" />
      <label for="rememberMe">Remember Me</label>
      <!-- <a (click)="loginTab.emit(2)" style="margin-left: 60px;color: rgb(244, 242, 242);">Forgot Password?</a> -->
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSignIn()">Login</button>
  </form>
  <div class="register-link">
    <!-- <p>Don't have an account? <a routerLink="/home/register" style="color: aliceblue;">Register</a></p> -->
  </div>
</div>
</section>

