
<div class="container mt-3">
  <div style="background: #edf2f7;">
  <h1 class="text-success"><span class="text-success">🌱</span> Crop Recommendation for Sustainable Farming <span class="text-success">🌱</span></h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="cropRecForm">
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Nitrogen</label>
              <input type="number" formControlName="nitrogen" placeholder="Enter Nitrogen" class="form-control" step="0">
              <label class="text-danger fw-bolder" *ngIf="f['nitrogen'].touched  && f['nitrogen'].errors && f['nitrogen'].errors['required']">Please Enter Nigtrogen</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Phosphorus</label>
              <input type="number" formControlName="phosporus" placeholder="Enter Phosphorus" class="form-control" step="00">
              <label class="text-danger fw-bolder" *ngIf="f['phosporus'].touched  && f['phosporus'].errors && f['phosporus'].errors['required']">Please Enter Phosporus</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Potassium</label>
              <input type="number" formControlName="potassium" placeholder="Enter Potassium" class="form-control" step="0">
              <label class="text-danger fw-bolder" *ngIf="f['potassium'].touched  && f['potassium'].errors && f['potassium'].errors['required']">Please Enter Potassium</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Temperature</label>
              <input type="number" step="0.01" formControlName="temperature" placeholder="Enter Temperature in °C" class="form-control" step="0">
              <label class="text-danger fw-bolder" *ngIf="f['temperature'].touched  && f['temperature'].errors && f['temperature'].errors['required']">Please Enter Temperature</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Humidity</label>
              <input type="number" step="0.01" formControlName="humidity" placeholder="Enter Humidity in %" class="form-control" step="0">
              <label class="text-danger fw-bolder" *ngIf="f['humidity'].touched  && f['humidity'].errors && f['humidity'].errors['required']">Please Enter Humidity(%)</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">pH</label>
              <input type="number" step="0.01" formControlName="ph" placeholder="Enter pH value" class="form-control" step="0">
              <label class="text-danger fw-bolder" *ngIf="f['ph'].touched  && f['ph'].errors && f['ph'].errors['required']">Please Enter Ph Value</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4"></div>
          <div class="col-md-4">
              <label class="text-dark fw-bolder">Rainfall</label>
              <input type="number" step="0.01"formControlName="rainfall" placeholder="Enter Rainfall in mm" class="form-control">
              <label class="text-danger fw-bolder" *ngIf="f['rainfall'].touched  && f['rainfall'].errors && f['rainfall'].errors['required']">Please Enter Rainfall(mm)</label>
            </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row mt-4 mb-4">
          <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary btn-lg mb-2">Recommend</button>
          </div>
      </div>
  </form>
</div>
  <div *ngIf="cropResult" class="card bg-dark d-flex justify-content-center" style="width: 18rem;">
      <img src="/./assets/images/fruits.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Recommended Crop for cultivation is:</h5>
          <h1 class="card-text">{{cropResult}}</h1>
      </div>
</div>
</div>